################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/2025/05/McpServerSample/appsettings.Development.json
/2025/06/demo3/images